body{
    /* background: linear-gradient(0deg,#fff 10%, #B6509E 40%, #2EBAC6 83.41%, #fff 1%); */
}
.Launch{
    color: #fff;
    background-color: rgb(24, 24, 40);
    background-color: #fff;
    background: radial-gradient(circle at 18.7% 37.8%, rgb(250, 250, 250) 0%, rgb(225, 234, 238) 90%);
    min-height:100vh;
    /* background-image: linear-gradient(#636363,#a2ab58); */
}
.head{    
    background-color: rgb(16, 16, 24);
    background: linear-gradient(to right,#22092C, #460000);
    /* background-color: #31304D; */
    width: 100%;
    height: 30vh;
    padding: 5vh 8vw;
}
h1{
    font-size: 4vh;
    font-family: Inter, Arial;
}
.small-text{
    width: 100%;
    display: flex;
    /* justify-content: space-around; */
}
.head div{
    margin-right: 2.5vw;
}
/* #636363 #a2ab58 */
.card-container{
    margin-top: -8vh;
    background-color: transparent;
    display: flex;
    justify-content: center;
    width: 100%;
}
.card-container h2{
    font-weight: 600;
    font-size: large;
}
.card{
    margin-left: 1vw;
    z-index: 1;
    background-color: #fff;
    color: #000;
    width:40%;
    padding: 2vh 0;
    text-align: center;
    border-radius: 12px;
    /* border: #CE5A67 1px solid; */
    box-shadow: 0 4px 8px 0 #a38487, 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
h2{
    margin-bottom: 2vh;
    color: rgb(3, 3, 80);
    text-transform: uppercase;
}
.coin-data{
    /* background-color: #CE5A67; */
    position: relative;
    display: flex;
    margin: auto;
    justify-content: space-evenly;
    margin: 1vw;
    /* border-bottom: #b6b6b6 solid 2px; */
    padding-bottom: 1vh;
}
.coin-data::after{
    position: absolute;
    bottom: 0;
    content: ' ';
    height: 1px;
    width: 100%;
    background: linear-gradient(248.86deg,#fff 10%, #B6509E 40%, #d25706 83.41%, #fff 1%);
}
.coin{
    /* background-color: blue; */
    display: flex;
    justify-content: space-evenly;
    width: 50%;
}
.coin-data h3{
    /* background-color: #877678; */
    text-transform: capitalize;
    margin: 1vh 0;
    width: 15%;
}
button{
    /* background: linear-gradient(to right, #e8cbb6,#cf9fa5); */
    box-shadow: 1px 1px #DDDDDD;
    height: fit-content;
    padding: 2px 1.5vw;
    border-radius: 50px;
    padding: 1vh 2vw;
    color: rgb(3, 54, 58);
    font-weight: 500;
}
.supplyButton{
    background: linear-gradient(to right, rgb(163, 217, 221) , rgb(174, 250, 182));
}
.borrowButton{
    background: radial-gradient(circle at 10% 20%, rgba(91, 173, 254, 0.46) 0%, rgba(91, 224, 254, 0.46) 47.2%, rgba(170, 254, 235, 0.43) 90%);
}
.coin-head{
    display: flex;
    justify-content: space-around;
    text-decoration:dashed;
    margin: 1vw;
}
.coin-head p{
    
    width: 35%;
}