body{
    /* background: linear-gradient(0deg,#fff 10%, #B6509E 40%, #2EBAC6 83.41%, #fff 1%); */
}
.Launch{
    color: #fff;
    background-color: rgb(24, 24, 40);
    background-color: #fff;
  
    /* background-image: linear-gradient(#636363,#a2ab58); */
}
.head{    
    background-color: rgb(16, 16, 24);
    background: linear-gradient(to right,#22092C, #460000);
    /* background-color: #31304D; */
    width: 100%;
    height: 30vh;
    padding: 5vh 8vw;
}
h1{
    font-size: 4vh;
    font-family: Inter, Arial;
}
.small-text{
    width: 100%;
    display: flex;
    /* justify-content: space-around; */
}
.head div{
    margin-right: 2.5vw;
}
/* #636363 #a2ab58 */
.card-container{
    margin-top: -8vh;
    background-color: transparent;
    display: flex;
    justify-content: center;
    width: 100%;
}
