.card-container h2{
    font-weight: 600;
    font-size: large;
}
.card{
    margin-left: 1vw;
    z-index: 1;
    background-color: #fff;
    color: #000;
    width:40%;
    padding: 2vh 0;
    text-align: center;
    border-radius: 12px;
    /* border: #CE5A67 1px solid; */
    box-shadow: 0 4px 8px 0 #a38487, 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
h2{
    margin-bottom: 2vh;
    color: rgb(3, 3, 80);
    text-transform: uppercase;
}
.coin-data{
    /* background-color: #CE5A67; */
    position: relative;
    display: flex;
    margin: auto;
    justify-content: space-evenly;
    margin: 1vw;
    /* border-bottom: #b6b6b6 solid 2px; */
    padding-bottom: 1vh;
}
.coin-data::after{
    position: absolute;
    bottom: 0;
    content: ' ';
    height: 1px;
    width: 100%;
    background: linear-gradient(248.86deg,#fff 10%, #B6509E 40%, #d25706 83.41%, #fff 1%);
}
.coin{
    /* background-color: blue; */
    display: flex;
    justify-content: space-evenly;
    width: 50%;
}
.coin-data h3{
    /* background-color: #877678; */
    text-transform: capitalize;
    margin: 1vh 0;
    width: 15%;
}
button{
    /* background: linear-gradient(to right, #e8cbb6,#cf9fa5); */
    box-shadow: 1px 1px #DDDDDD;
    height: fit-content;
    padding: 2px 1.5vw;
    border-radius: 50px;
    padding: 1vh 2vw;
    color: rgb(3, 54, 58);
    font-weight: 500;
}
.supplyButton{
    background: linear-gradient(to right, rgb(163, 217, 221) , rgb(174, 250, 182));
}
.borrowButton{
    /* display: none; */
    background: radial-gradient(circle at 10% 20%, rgba(91, 173, 254, 0.46) 0%, rgba(91, 224, 254, 0.46) 47.2%, rgba(170, 254, 235, 0.43) 90%);
}
.coin-head{
    display: flex;
    justify-content: space-around;
    text-decoration:dashed;
    margin: 1vw;
}
.coin-head p{
    
    width: 35%;
}

option, select{
    text-transform: capitalize;
    width: 40%;
    max-width: 200px;
}
input[type=text]{
    width: 40%;
    border: #075275 solid 1px;
    border-radius: 5px;
    padding:0 4px;
    margin: 1vh auto;
    max-width: 100px;
}
.input-containert{
    display: flex;
    text-align: center;
    max-height: 6vh;
    justify-content: center;
    align-items: center;
}
.amount{
    width: 90%;
    height: 6vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: auto;
    font-family: cursive;
}
.amount button{
    padding: 0 2vw;
    /* font-family: cursive; */
    background: linear-gradient(to right, rgb(223, 167, 77) , rgb(181, 84, 60));
}