.Nav{
    background-color: #b93030;
    background: linear-gradient(#BE3144,#872341);
    background: radial-gradient(circle at 100.9% 51.2%, #1A1A1A 0%, #333333 10%, #4C4C4C 15.9%, #666666 20%, #808080 24.4%, #999999 30%, #ADADAD 40%, #BBBBBB 45%, #CCCCCC 50%, #DDDDDD 55%, #E3E3E3 60%, #EFEFEF 70%, #F4F4F4 80%, #F8F8F8 90%, #FFFFFF 100%);
    color: #fff;
  
    /* border-bottom: #fff solid 1px; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.2vh 0;
}
.left-nav{
   
    margin: auto 3vw;
    width: fit-content;
    display: flex;
    align-items: center;
}
.right-nav{
   
    display: flex;
    width: fit-content;
    margin-right: 1.5vw;
    height: fit-content;
    align-items: center;
}
.dashboard-nav{
    margin-left: 2vw;
    color: #000;
    font-size: 2.5vh;
    display: none;
}
#logo{
    background-color: #fff;
    /* color: transparent; */
    background: url('https://media.giphy.com/media/88inhanctU1G4PEx7b/giphy.gif');
    background-size: contain;
    font-weight: 900;
    font-size: 20px;    
    background-clip:text;
    -webkit-background-clip: text;
    font-size: 4vh;
    z-index: 2;
}